img {
    display: block;
    width: 100%;
    display: block;
    border-radius: var(--radius);
    height: 500px;
    object-fit: cover;
  }

  p {
    text-align: justify;
    line-height: 2;
    max-width: 45em;
    /* margin: 0 auto; */
    margin-top: 2rem;
    /* color: var(--clr-grey-5); */
  }
 
  .underline {
    margin-left: 0;
  }
 
 